[Unit]
Description=Update Memora Solutions from GitHub
After=network-online.target memora-solutions.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/memora-update
